html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  margin-left: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 2rem;
}

.name-email {
  display: flex;
  justify-content: space-around;
  input {
    margin-left: 2rem;
  }
}

.free-text {
  display: flex;
  justify-content: center;
}


.hidden {
  display: none;
}


// FOOTER & FORM STUFF
.footer {
  color: #fff;
  background-color: #41ade5;
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex-grow: 1;
}
.center {
  flex-grow: 2;
  margin-bottom: 3rem;
}
.right-side {
  flex-grow: 1;
}

.feedback-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  textarea {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    padding: 1rem;
  }
}

textarea {
  resize: none;
  flex: 1;
  height: 3rem;
}


// Clip-path stuff

.background__header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: #41ade5;
  height: 20%;
  clip-path: polygon(
    0 0,
    95% 0,
    0 100%
  );
}

.background__left {
  position: absolute;
  background-color: rgb(94, 233, 59);
  top: 0;
  width: 10%;
  height: 100%;
  clip-path: polygon(
    0 60%,
    100% 90%,
    0 125%
  );
}

.background__right {
  position: absolute;
  background-color: rgb(94, 233, 59);
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  clip-path: polygon(
    100% 10%,
    0 100%,
    100% 100%
  );

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo {
  width: 40%;
  margin-bottom: 5%;
  margin-right: 20%;

  img {
    width: 100%;
  }
}

.git-link {
  position: absolute;
  bottom: 0;
}

// Elm official colors
// gray = "#5a6378"
// green = "#83c833"
// orange = "#efa500"
// blue = "#5fb4ca"

.orange {
  background-color: #efa500;
}

