.flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

header {
  background: #41ade5;
  color: #fff;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6rem),
    0 100%
  );
}

.header {
  margin-left: 20rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#main {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.name-email {
  display: flex;
  justify-content: space-around;
  input {
    margin-left: 2rem;
  }
}

.free-text {
  display: flex;
  justify-content: center;
}


.hidden {
  display: none;
}

.footer {
  background: #41ade5;
  color: #fff;
  clip-path: polygon(
    0 0,
    100% calc(100% - 2rem),
    100% 100%,
    0 100%
  );
  padding-top: 5rem;
}