html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #41ade5;
  color: #fff;
  clip-path: polygon(
    0 0,
    90% 0,
    0 100%
  );
}

.header {
  margin-left: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 2rem;
}

.name-email {
  display: flex;
  justify-content: space-around;
  input {
    margin-left: 2rem;
  }
}

.free-text {
  display: flex;
  justify-content: center;
}


.hidden {
  display: none;
}


// FOOTER & FORM STUFF
.footer {
  color: #fff;
  background-color: #41ade5;
  display: flex;
  justify-content: space-between;
}

.left-accent {
  background-color: rgb(94, 233, 59);
  flex-grow: 1;
  clip-path: polygon(
    0 40%,
    0 100%,
    100% 100%
  );
}
.center {
  flex-grow: 2;
  margin-bottom: 3rem;
}
.right-accent {
  background-color: rgb(94, 233, 59);
  flex-grow: 1;
  clip-path: polygon(
    100% 40%,
    100% 100%,
    0 100%
  );
}

.feedback-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

textarea {
  resize: none;
  flex: 1;
  height: 3rem;
}